!!!
%html
  %head
    %title= "Actalyze"
    = stylesheet_link_tag    "application"
    :javascript
      var TBRUM=TBRUM||{};
      TBRUM.q=TBRUM.q||[];
      TBRUM.q.push(['mark','firstbyte',(new Date).getTime()]);
      (function(){var a=document.createElement('script');
        a.type='text/javascript';
      a.async=true;
      a.src=document.location.protocol+'//162.38.111.162:3000/assets/episode-tbrum.js';
      var b=document.getElementsByTagName('script')[0];
      b.parentNode.insertBefore(a,b)})();
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    #proscale.container
      = yield

