!!!
%html
  %head
    %title= "Actalyze"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if !current_page?(home_path) 
      = render partial: 'layouts/header'
      #proscale.container
        = yield
    - else
      = yield
    #footer
      %h1{style: 'text-align: center;'} Connect to http://162.38.111.183/

